<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p class="flash notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% end %>
  <header>
    <div class="logo">
      <%= link_to "Rainforest", root_path %>
    </div>
    <%= link_to "All Products", all_products_path %>
  </header>
  <main>
  <section class="sidebar">
    <% if current_user %>
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <ul>
        <li><%= link_to "New Product", new_user_product_url(current_user) %></li>
        <li><%= link_to "My Products", user_products_url(current_user) %></li>
        <li><%= link_to "Log Out", logout_url(current_user), :method => :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "Log In", login_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      </ul>
    <% end %>
  </section>
  <article>
    <%= yield %>
  </article>
  </main>
</body>
</html>
